.tag {
  display: flex;
  background-color: var(--white-color);
  padding: 10px;
  height: 19px;
  gap: 10px;
  border-radius: 5px;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.button {
  border: none;
  background-image: url(../../general-style/img/cansel_Button.svg);
  width: 10px;
  height: 10px;
  background-color: var(--white-color);
  background-size: cover;
  background-position: center;
  padding: 0;
  cursor: pointer;
}