.photoWrapper {
  height: 163px;
  width: 163px;
}

.photo {
  height: 163px;
  width: 163px;
  border-radius: 50%;
  text-align: center;
}

@media (max-width: 768px) {
  .photoWrapper {
    height: 103px;
    width: 103px;
  }
  
  .photo {
    height: 103px;
    width: 103px;
    border-radius: 50%;
    text-align: center;
  }
}