.page {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.pageControls {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 180px;
  padding-right: 180px;
}

.filtersBox {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  align-items:flex-start;
  flex-direction: row;
}