.mainInfo {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  box-sizing: border-box;
  padding-top: 40px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 24px;
  width: fit-content;
}

.value {
  width: fit-content;
  font-weight: 400;
  font-size: 24px;
}

.label {
  width: fit-content;
  font-weight: 500;
  font-size: 24px;
}

h2 {
  font-family: Raleway;
  font-weight: 600;
  font-size: 32px;
  margin: 0 0 32px 0;
}