.option {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.78px;
  cursor: pointer;
}

.input {
  display: none;
}

.checkboxBox {
  width: 19px;
  height: 19px;
  border: 1px solid var(--blue-color);
  border-radius: 2px;
  background-color: white;
  position: relative;
  transition: all 0.3s ease;
}

.lightCheckboxBox {
  background-color: var(--white-color);
}

.darkCheckboxBox {
  background-color: var(--black-color);
}

.input:checked+.checkboxBox {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  background-image: url('../../general-style/img/check.svg');
  background-size: 13px 9px;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .option {
    font-size: 12px;
    line-height: 100%;
  }

}