.backgroundWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lightBackgroundWrapper {
  background-color: var(--gray-color);
  color: var(--black-color);
  transition: .5s;
}


.darkBackgroundWrapper {
  background-color: var(--dark-theme-grey-color);
  color: var(--white-text-color);
  transition: .5s;
}

.main {
  min-height: 71px;
  max-width: 1610px;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.text {
  font-weight: 500;
  font-size: 20px;
  min-width: 206px;
}

.filtersWrapper {
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: center;
}

.button {
  height: 45px;
  width: 146px;
  border-radius: 8px;
  border: none;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 20.8px;
}

.button:hover {
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  cursor: pointer;
}

.button:active {
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  cursor: pointer;
  color: var(--gray-text-color);
}

@media (max-width: 768px) {
  .main {
    padding: 16px 8%;
    flex-direction: column;
    gap: 12px;
  }

  .text {
    font-size: 14px;
  }

  .button {
    height: 28px;
    width: 100%;
    border-radius: 4px;
    font-size: 12px;
  }

  .filtersWrapper {
    gap: 12px;
    align-items: flex-start;
    flex-direction: column;
  }
}