.row {
  border-top: 1px solid var(--gray-color);
}

.lightRow:hover {
  background-color: var(--gray-color);
  transition: .5s;
}

.darkRow:hover {
  background-color: var(--dark-theme-grey-color);
  border-top: 1px solid var(--dark-theme-grey-color);
  border-bottom: 1px solid var(--dark-theme-grey-color);
  transition: .5s;
}