.tag {
  display: flex;
  padding: 10px;
  height: 19px;
  gap: 10px;
  border-radius: 5px;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.lightTag {
  background-color: var(--white-color);
}

.darkTag {
  background-color: var(--black-color);
}


.button {
  border: none;
  width: 10px;
  height: 10px;
  background-size: cover;
  background-position: center;
  padding: 0;
  cursor: pointer;
}

.lightButton {
  background-color: var(--white-color);
  background-image: url(../../general-style/img/light_cansel_Button.svg);
}

.darkButton {
  background-color: var(--black-color);
  background-image: url(../../general-style/img/dark_cancel_Button.svg);
}