.filtersList {
  display: flex;
  flex-direction: column;
  width: 267px;
  border-top: 1px solid var(--blue-color);
  box-shadow: 0px 4px 4px 0px var(--black-color);
  padding: 20px;
  box-sizing: border-box;
  gap: 16px;
  position: absolute; 
  z-index: 10;
  top: 100%; 
  right: 0; 
  margin-top: 8px;
  background-color: var(--white-color);
}

.filter {
  display: flex;
  position: relative;
}
