.searchBar {
  width: 100%;
  height: 43px;
  border: 0.5px solid var(--gray-text-color);
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  padding: 10px;
}

.lightSearchBar {
  background-color: var(--white-color);
  color: var(--black-color);
  transition: .5s;
}

.darkSearchBar {
  background-color: var(--black-color);
  color: var(--white-color);
  transition: .5s;
}

.searchBar::placeholder {
  color: var(--gray-text-color);
}

.searchBar:focus {
  border: 0.5px solid var(--blue-color);
  outline: none;
}


.searchBar:focus::placeholder {
  color: var(--dark-grey);
}

@media (max-width: 768px) {
  .searchBar {
    height: 34px;
    font-size: 12px;
  }
}