.wrapper {
  display: flex;
  height: 85.29px;
  max-width: 1610px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 45px;
  padding: 0 50px;
  box-sizing: border-box;
}

.darkWrapper {
  box-shadow: 0px 4px 8px 0px var(--light-theme-shadow-color);
  transition: .5s;
}

.darkWrapper {
  box-shadow: 0px 4px 8px 0px var(--dark-theme-shadow-color);
  transition: .5s;
}

.icon {
  height: 41px;
  width: 101px;
  background-image: url('../../general-style/img/logo.svg');
  background-size: cover;
  cursor: pointer;
}

.text {
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.info {
  display: flex;
  gap: 48px;
  align-items: center;
}

.contacts {
  display: flex;
  gap: 64px;
}

@media (max-width: 768px) {
  .icon{
    height: 22px;
    width: 52px;
  }
  .contacts {
    display: none;
  }

  .wrapper {
    height: 54px;
    padding: 16px 8%;
  }
}