nav {
  max-width: 1610px;
  width: 100%;
  padding: 28px 50px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.breadcrumbsList {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: var(--gray-text-color);
  display: flex;
  gap: 28px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.text {
  list-style: none;
}

.link {
  list-style: none;
  padding-left: 20px;
  cursor: pointer;
}

a {
  all: unset;
}

.link::marker {
  content: url('../../general-style/img/breadcrumbsArrow.svg')
}


@media (max-width: 768px) {
  nav {
    padding: 15px 8%;
  }

  .breadcrumbsList {
    font-size: 12px;
    gap: 20px;
  }

  .breadcrumbsList li:first-child {
    padding-left: 0;
  }

  .breadcrumbsList li:first-child::marker {
    content: none;
  }

  .link::marker {
    content: url('../../general-style/img/breadcrumbsArrowMobile.svg')
  }

  .link {
    padding-left: 12px;
  }

}